body{
    background-image: url("../img/background.png");
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
}
.header-container{
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
    max-width: 980px;
    padding: 0 30px;
}

/*HEADER SECTION*/
.header-s{
    background-color: #fff;
}
.header-s__wrap{
    display: flex;
    position: relative;
}
.header-s__wrap h1{
    padding-top: 17px;
    width: 200px;
    text-align: center;
    font-weight: bold;
}
.header-s__wrap h1 span{
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.header-title{
    height: 63px;
    position: absolute;
    left: 250px;
    background-color: #00a651;
    width: 500%
}
.header-title:after{
    content: '';
    position: absolute;
    top: 58px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
}
.header-title__main-text{
    padding-left: 20px;
    padding-top: 17px;
    color: #ffffff;
    width: 200px;
    font-size: 9px;
}
.header-title__contacts{
    position: absolute;
    padding-right: 10px;
    padding-top: 5px;
    top: 5px;
    left: 220px;
    width: 150px;
    height: 67px;
    text-align: right;
    background-color: #ffffff;
    color: #00a651;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: solid 2px #00a651;
    border-radius: 10px;
    z-index: 1;
}
.header-title__contacts a{
    font-size: 12px;
}
/*HEADER SECTION:END*/

/*INTRO SECTION*/
.intro-s__wrap{
    background-color: #fff;
    padding-top: 15px;
    height: 825px;
    display: flex;
    justify-content: space-between;
}
.intro__img{
    position: relative;
}
.intro__img p{
    color: #fff;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    padding-top: 5px;
    padding-left: 10px;
    height: 35px;
    width: 330px;
    bottom: 2px;
    left: 0;
    font-size: 11px;
}
.into__sale > img{
    height: 208px;
    width: 225px;
}
.intro__top {
    margin-top: 50px;
    height: 360px;
    width: 225px;
    background-color: #ebebeb;
}
.intro__top h2{
    padding-top: 4px;
    padding-right: 15px;
    text-align: right;
    font-size: 29px;
    font-weight: bold;
    color: #fff;
    height: 40px;
    background-color: #00a651;
    position: relative;
}
.intro__top h2 span{
    color: #fffc00;
}
.intro__top h2 img{
    position: absolute;
    top: -35px;
    left: -2px;
}
/*INTRO SECTION:END*/

/*FOOTER SECTION*/
.footer-s{
    background-color: #00a651;
    height: 108px;
}
.footer-s__wrap{
    position: relative;
    color: #fff;
    display: flex;
    align-self: center;
    height: 100%;
}
.footer-s__wrap a{
    color: #fff;
    font-size: 14px;
}
.footer-s__wrap div{
    position: relative;
}
.footer-s__wrap div:after{
    content: '';
    border-radius: 50%;
    background-color: rgba( 0, 0, 0, .8 );
    position: absolute;
    top: 0;
    right: 20px;
    width: 4px;
    height: 107px;
    z-index: 16;
}
.footer-s__logo{
    width: 265px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.footer-s__logo img{
    padding-left: 20px;
}
.footer-s__logo p{
    font-size: 9px;
    width: 60%;
}
.footer-s__list ul{
    width: 225px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.footer-s__bomb{
    position: absolute;
    top: -202px;
    right: -200px;
}
/*FOOTER SECTION: END*/
a:hover{
    color: #fffc00;
}